<div class="modal-header">
  <h1 class="modal-title fs-5" id="deleteModalLabel">Удалить здание?</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>Вы действительно хотите удалить текущее здание?<br />Все помещения и кабинеты, связанные с этим зданием, так же будут удалены.</p>
</div>
<div class="modal-footer justify-content-between">
  <button id="submitDelete" type="button" class="col-auto btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
  <button class="col-auto btn btn-danger">Удалить</button>
</div>
